doctype html
html
  head
    link(rel="stylesheet" href="css/vendor/bootstrap.min.css")
    title #{__('authorization')}
  body
    div(class="container")
      div(class="row fn-top-panel")
        div(class="col-md-4 fn-logo")
          h1 #{__('authorization')}
      form(name="authorization")
        div(class="form-group")
          label(for="incomingDate") #{__('username')}
          input(type="text" class="form-control")
        div(class="form-group")
          label(for="incomingDate") #{__('password')}
          input(type="text" class="form-control")
        button(type="submit" class="btn btn-primary") #{__('signin')}
